.section-features {
  @extend %section;
}

.feature-list {
  @extend %list;
  justify-content: space-between;

  &__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }

  &__item:nth-child(4) {
    margin-right: 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    @include title-block($title-text-color);
    // color: $title-text-color;
    // font-weight: $title-font-weight;
    // font-size: $main-font-size;
    // line-height: 1.14;
    // text-transform: uppercase;
  }

  &__content {
    margin-top: 0;
    margin-bottom: 0px;

    font-weight: $primary-font-weight;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    height: 120px;

    border-radius: $border-radius-button;
    background-color: $secondary-bg-color;
  }
}
